<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./navbar/navbar.ejs') %>
    <section>
      <div>
        <h1>Team Logo</h1>
        <img src="<%= team.icon %>"/>
        <%= team.name %>
      </div>
    </section>
    <div>
      <h1><a href="/teams/edit">Edit Team</a></h1>
    </div>
    <section>
      <div>
        <h4>Games Participated</h4>
        <table border="1">
          <thead>
            <th>Games</th>
          </thead>
          <tbody>
            <% team.Games.forEach(game => { %>
            <tr>
              <td><%= game.name %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>
    <a href="/logout">logout</a>
      
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
