<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar/navbar.ejs') %>
    <h1>Edit Member</h1>
    <div>
        <form action="/teams/register" method="POST" class ="table-bordered table-dark">
            <label for="">Team Name:</label><br>
            <input type="text" name="team_name" value="data.name"><br>
            <label for="">Country:</label><br>
            <input type="text" name="country" value="data.country"><br>
            <label for="">Game:</label>
            <input type="checkbox" name="GameId" value="dota">Dota <br>
            <input type="checkbox" name="GameId" value="pubg">PUBG <br>
            <input type="checkbox" name="GameId" value="fifa">FIFA <br>
            <label for="">Icon:</label> <br>
            <input type="file" name="icon" id=""><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form><br>
    </div>
</body>
</html>